#tokenClicker {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
    color: magenta;
    font-family: Impact, sans-serif;
}

#tokenDisplay {
    font-size: 48px;
    padding-bottom: 10px;
}

#tpsDisplay {
    font-size: 20px;
    padding-bottom: 25px;
}

#tokenButton {
    padding: 8px 16px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background-color: black;
}

#tokenButton img {
    width: 250px;
    height: 250px; 
    object-fit: contain;
    vertical-align: middle;
}